.footer {
  padding: 20px;
  background: $color-dark;
  color: $color-light;
  &-message {
    color: $color-primary;
    i {
      margin-right: 5px;
    }
  }
  &-Copyright {
    font-size: 12px;
    margin: 0;
    color: get-opacity($color-light, .5);
  }
}