.button-danger, .button-success  {
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  background: $color-danger;
  white-space: nowrap;
  color: $color-light;
}

.button-success  {
  background: $color-success;
  box-shadow: 1px 1px 1px get-opacity($color-dark, .6);
}

.button-danger:hover, .button-success:hover {
  text-decoration: none;
  color: $color-light;
  filter: brightness(1.1);
}