@function get-opacity($color, $amount) {
  @return rgba($color, $amount);
}


$color-primary: #ddd72c;
$color-secondary: rgb(233, 149, 39);
$color-light: #ffffff;
$color-dark: #1b1b1a;
$color-danger: #e61313;
$color-success: #079854;

$color-primary-2: get-opacity($color-primary, .5);

$letter-1: 'Baloo Tamma 2', cursive;

$font-default: 500 17px $letter-1;
$font-caption: 17px $letter-1;
$font-title-1: bold 35px / 35px  $letter-1 ;
$font-title-2: bold 30px / 30px  $letter-1 ;
$font-title-3: bold 23px / 23px  $letter-1 ;
$font-title-4: bold 17px / 17px  $letter-1 ;

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  font: $font-default;
  color: $color-dark;
  background: $color-primary-2;
  background: linear-gradient(to bottom, $color-secondary, $color-primary);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.title {
  text-align: center;
  font: $font-title-2;
  margin: 20px 0px;
}

.title-description {
  text-align: center;
  margin: -20px 0px 20px;
}

.subtitle {
  text-align: center;
  font: $font-title-3;
  margin: 20px 0px;
}

.subtitle-2 {
  text-align: center;
  font: $font-title-4;
  margin: 20px 0px;
}

.message {
  background: $color-danger;
  color: $color-light;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 100px 0px;
  span {
    font-size: 15px;
    color: get-opacity($color-light, 0.9 );
  }
}

.loading {
  width: 80px;
  display: block;
  margin: 150px auto;
}